/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Navbar içindeki tüm flex öğeleri */
nav > * {
  display: flex;
  align-items: center;
}